@media screen and (max-width: 992px) {
  .btn {
    margin-top: 10px;
    width: 100%;
  }
}

.btnColorTheme{
  width: 40px;
  height: 20px;
  background: purple;
}

.navbar-theme {
  background: var(--main_background_color) !important;
}
