<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-theme header">
  <div class="container-fluid">
    <div style="display: flex; align-items: center">
      <a class="navbar-brand" routerLink="/">
        <img
          [ngSrc]="'assets/images/main_logo.png'"
          alt="логотип"
          height="512"
          width="512"
          style="width: 50px; height: 50px"
        />
      <span class="logo_title">{{ "Optimum Clean" }}</span></a
      >

      <div class="switch">
        <input type="checkbox" class="switch__input" checked id="Switch" (click)="setTheme($event)">
        <label class="switch__label" for="Switch">
          <span class="switch__indicator"></span>
          <span class="switch__decoration"></span>
        </label>
      </div>

    </div>

    <button
      class="navbar-toggler page_btn"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      style="flex-grow: 0"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Сервисы
          </a>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/services/cleaning']">Клининг</a>
            </li>

            <li>
              <a class="dropdown-item" [routerLink]="['/services/dry-cleaning']">Химчистка</a>
            </li>

            <li>
              <a class="dropdown-item" [routerLink]="['/services/concierge']">Консьержинг</a>
            </li>

            <li>
              <a class="dropdown-item" [routerLink]="['/services/tutoring']">Репетиторство</a>
            </li>

            <li>
              <hr class="dropdown-divider"/>
            </li>

            <li><a class="dropdown-item" [routerLink]="['/services/subscription']">Подписка на сервисы</a></li>
          </ul>
        </li>

        <li class="nav-item" style="min-width: 63px">
          <a class="nav-link active" aria-current="page" routerLink="/team"
            >О нас</a
          >
        </li>

        <li class="nav-item" style="min-width: 213px">
          <a class="nav-link active" aria-current="page" routerLink="/team"
            >Полезная информация</a
          >
        </li>
      </ul>
      <input
        #searchNavbar
        class="form-control me-2"
        type="search"
        placeholder="Поиск..."
        aria-label="Search"
      />
      <button
        class="btn btn-outline-success page_btn"
        type="submit"
        (click)="searchNavbarInput(searchNavbar)"
      >
        Искать
      </button>
    </div>
  </div>
</nav>
