<section>
  <h3 style="margin: 20px 0; text-transform: uppercase; text-align: center">{{ 'Нам доверяют' }}</h3>
  <div class="scroll text4">
    <div>
      <span
        class="img_wrapper"
        style="background-image: url('assets/images/pulkovo_logo.png')"
      ></span>
      <span
        class="img_wrapper"
        style="background-image: url('assets/images/mega_logo.png')"
      ></span>
      <span
        class="img_wrapper"
        style="width: 200px !important; background-image: url('assets/images/tass_logo.png')"
      ></span>
      <span
        class="img_wrapper"
        style="background-image: url('assets/images/pulkovo_logo.png')"
      ></span>
      <span
        class="img_wrapper"
        style="background-image: url('assets/images/mega_logo.png')"
      ></span>
      <span
        class="img_wrapper"
        style="width: 200px !important; background-image: url('assets/images/tass_logo.png')"
      ></span>
    </div>

    <!--     Повтор анимации-->

    <div>
      <span
        class="img_wrapper"
        style="background-image: url('assets/images/pulkovo_logo.png')"
      ></span>
      <span
        class="img_wrapper"
        style="background-image: url('assets/images/mega_logo.png')"
      ></span>
      <span
        class="img_wrapper"
        style="width: 200px !important; background-image: url('assets/images/tass_logo.png')"
      ></span>
      <span
        class="img_wrapper"
        style="background-image: url('assets/images/pulkovo_logo.png')"
      ></span>
      <span
        class="img_wrapper"
        style="background-image: url('assets/images/mega_logo.png')"
      ></span>
      <span
        class="img_wrapper"
        style="width: 200px !important; background-image: url('assets/images/tass_logo.png')"
      ></span>
    </div>
  </div>
</section>
